.ui-jqgrid tr.ui-row-ltr td,
.ui-jqgrid-labels th{
vertical-align: middle;
}
.ui-jqgrid{
z-index:50;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
background: #f7f2dc;
border: 1px solid #ddd;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus{
border: 1px solid #ddd;
}
.ui-jqgrid tr.ui-row-ltr td, .ui-jqgrid-labels th{
height:31px;
line-height:14px;
position:relative;
}
.fm-button{
height:25px;
}
.ui-jqgrid-btable td input{
text-align:inherit;
font-size:inherit;
}
.ui-jqgrid .inline-edit-cell{
	padding:4px 0px 4px 0px;
}
.ui-jqgrid .ui-icon-desc {
	margin-left: 0px;
}
.ui-jqgrid td.ui-search-input input{
padding-top:3px;
padding-bottom:3px;
}
.ui-jqgrid .ui-jqgrid-htable .ui-search-toolbar th div{
margin:0;
}
.ui-jqgrid .ui-search-table{
margin:2px 0;
}